/* @import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
footer{
    background: #222;
    color: #fff;
    padding: 60px 0;
}
.footer-container{
    width: 100%;
    max-width: 1100px;
    padding: 0 20px;
    margin: 0 auto;
}


li{
    list-style: none;
    line-height: 2;
}
a{
    text-decoration: none;
    color: #ccc;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.items{
    flex-basis: 20%;
}
.items .logo{
    text-transform: capitalize;
    font-size: 1.4em;
    color: #b6b6b6;
}
.items p{
    margin: 1.2em 0;
}
.social{
    display: inline-block;
}
/* .social a{
    height: 50px;
    width: 50px;
    background: #383535;
    border-radius: 25px;
    margin:10px 5px;
    text-align: center;
} */
.social a{
    display: inline-block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    text-align: center;
    margin: 4px;
    border-radius: 24px;
    border: 1px solid #848484;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.social a i{
    font-size: 1.3em;
    line-height: 30px;
}
.social a:hover{
    background-color: #7abdb6;
    border: 1px solid #7abdb6;
    color: white;
}
.items h3{
    position: relative;
    font-size: 1.3em;
    margin-bottom: 1rem;
    color: aliceblue;
}
.items h3::after{
    content:"";
    position: absolute;
    width: 40px;
    height: 3px;
    background: #fff;
    bottom: -10px;
    left: 0;
}
hr{
    opacity: .3;
}
footer .end{
    text-align: center;
    padding: 20px 0 0 0;
    color: #767676;
}
@media (max-width:640px){
    .items{
    flex-basis: 80%;
    margin: auto;
}
}