html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

.product-container{
    transform: translate(25%, -75%);
    
}

.product-form{
    /* padding: 5%; */
    /* padding-top: 10%; */
    background: white;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.5rem;
}

.product-mockup {
    position: absolute;
    transform: translate(45%, -50%);
    width: 280px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
